.front{
  background-image: url(image/front-page.jpg);
  height:100vh;
  width: 100vw;
  background-size:100% 100%;
}
.text1{
  color: white;
  text-align: center;
  padding-top: 100px;
}
.text1 p{
  font-size: 20px;
}
.heading{
font-size:76px;
font-weight: 400;
margin: 0;
}
.cap img{
  width: 200px;
padding: 10px 30px;
}
.cap{
  width: 100%;
}
.nav{

  width: 45%;
  height: 100px;
  float: right;
}
.navbutton{
  color: white;
  float: left;
  margin:20px;
}
.btn1{
  background-color: #8e7754;
  padding: 10px 20px;
  color: white;
  border-color: transparent;
  font-family: serif;
  font-size: 20px;
    border-radius: 10px;
}
.btn1:hover{
  background-color: #D7A86E;
}
.btn2{
  color: white;
  background-color: transparent;
  margin-left: 20px;
  padding: 10px 30px;
  border-color: white;
  font-family: serif;
  font-size: 20px;
    border-radius: 10px;
}
.btn2:hover{
  background-color: #D7A86E;
}
.scroll img{
  margin-top: 60px;
  width: 30px;
  height: 40px;
}
.second-part{
  margin-top:80px;
  height: 80vh;
  width: 100vw;
}
.secondimg{
width: 500px;
height: 500px;
padding-left: 150px;
}
.text2{
  float: right;
  height: 400px;
  width:40%;
  padding: 40px 50px;

}
 h1{
  font-weight: 400;
}
 p{
font-size: 18px;
}
.text2 p{
  width: 470px;
}
.icon1{
padding: 10px;
}
.icon1 img{
height: 45px;
width: 45px;
}
.icon1 h4{
margin: 10px;
float: right;
width: 300px;
position: relative;
right: 175px;
}
.third-part-img{
  height: 500px;
  width:500px;
  float:right;
}
.third-part-img img{
  height: 400px;
  width:400px;
  float:right;
}
.third-part{
  height: 100vh;
}
.text3{
  padding-top: 150px;
  padding-left: 150px;
}
.text3 p{
  width:500px;
}
.fourth-part{
  padding: 70px;
  text-align: center;
}
.fifth-part{
  padding-left: 70px;
height: 60vh;
}
.fifth-part img{
  height: 350px;
  width: 350px;
  margin: 25px;

}
.sixth-part{
 padding: 60px;
 padding-top: 0;
 height: 35vh;
}
.sixth-part h3{
  width: 350px;
}
.sixth-part p{
    width: 350px;
}
.text6{
  text-align: center;
  float: right;
  margin: 25px;
  margin-top: 0;
}
.seventh-part{
  height: 60vh;
  width: 100%;
}
.contactinfo{
  width: 50%;
  height: 60vh;
  float: left;
}
.contactinfo h1{
  width: 450px;
  float: right;
  margin-top: 70px;
}
.contactinfo p{
  width: 450px;
  float: right;
}
.secondicon-block{
  width: 50%;
  height: 60vh;
  display: inline;
}
.secondicon{
  margin-top: 10px;
  width: 450px;
  height: 300px;
}
.icon2 img{
  margin: 10px;
  height: 50px;
  width: 50px;
}
.icon2 h4{
  margin:5px;
  display: inline;
  position: relative;
  bottom: 32px;
}
.secondicon{
  width: 30%;
  float: right;
  margin-right: 100px;
  margin-top: 0;
}
.eight-part{
  background-color: #403D38;
  height: 350px;
  width: 100%;
  color: honeydew;
}
.about-us{
  padding-left: 40px;
  width: 260px;
  margin: 30px;
  float: left;
}
.why-special{
  display:inline-block;
  width: 260px;
  padding-left: 40px;
}
.why-special h3{
  width: 250px;
}
.why-special h4{
  width: 250px;
  border-bottom: 1px solid grey;
}
.opening-hours{
  display: inline-block;
  width: 260px;
  margin: 30px;
  padding-left: 40px;
}
.opening-hours h3{
  width: 250px;
}
.opening-hours h4{
  border-bottom: 1px solid grey;
    width: 250px;
}
.ninth-part{
  background-color: #353330;
  width: 100%;
  height: 350px;
}
.map-background{
  margin-top: 20px;
  margin-left: 40px;
  background-image: url(image/map-background.png);
  width: 250px;
  /* height: 250px; */
  float: left;
  color: honeydew;
  padding-left: 30px;
}
.map-icon{
  margin-bottom: 10px;
}
.map-p{
  margin-bottom: 0;
  position: relative;
  bottom: 20px;
  float: right;
  width: 200px;
}

.bakery-cap2{
  position: relative;
  top: 40px;
  left: 160px;
  display:inline-block;
  width:400px;
}
.logo{
  /* width: 200px; */
  position: relative;
  top: 80px;
  left: 170px;

}
